.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu {
  display: flex;
}
.menu li {
  margin-right: 15px;
  list-style: none;
}
.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a.selected {
  color: #910000;
}

.nav {
  padding: 15px 0;
  background: #80808070;
}
.nav a {
  margin: 15px;
  color: #222222;
  text-decoration: none;
  font-weight: 700;
}
.main-content {
  padding: 15px;
}

.nav .active {
  color: #057a97;
}

.contacts-links a {
  margin: 0 15px;
}
.contacts-routes {
  min-width: 190px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: #e2dab1;
  padding: 25px;
}
